{% extends 'base.html' %}

{% load static %}

{% block title %} Foydalanuvchi ma'lumotlarini tahrirlash {% endblock title%}

{% block content %}
<h2>Foydalanuvchi ma'lumotlarini tahrirlassh</h2>
<p>Siz o'zingiz haqingizdagi ma'lumotlarni quyidagi forma orqali o'zgartirishingiz mumkin!</p>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  {{user_form.as_p}}
  {{profile_form.as_p}}
  <a href="{% url 'user_profile' %}"><button class="btn btn-primary border rounded" type="submit">Save edits</button></a>
</form>


{% endblock content %}