{% extends 'base.html' %}

{% block title %} Login sahifasi {% endblock title%}

{% load static%}

{% block content%}

<div class="container text-center">
  <h2>Web sitega kirish - login</h2>
<p>Iltimos saytga kirish uchun quyidagi formani to'ldiring!</p>
<h5>(Agar parolingizni unutgan bo'lsangiz uni qayta tiklang.) <a href="{% url 'password_reset' %}">Tiklash</a></h5>
<form method="post">{% csrf_token %}
  {{form.as_p}}
  <button type="submit">Login</button>
</form>
<h5>Agar foydalanuvchi profilingiz bo'lmasa, <a href="{% url 'user_register' %}" class="text-primary">Ro'yxatdan o'tishingiz munkin</a></h5>
</div>

{% endblock content%}